<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>86289450269-9j8ff4ro7oi44jlkm99rmq9c7mvc41q8.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.86289450269-9j8ff4ro7oi44jlkm99rmq9c7mvc41q8</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
